{% extends "basetwenty.html" %}
{% block data %}
<div class="input-container">
    <div style="padding: 10px;">
      
      <p>FreeTxt was developed as part of an AHRC funded collaborative research project involving colleagues from Cardiff University and Lancaster University (Grant Number AH/W004844/1).</p>
      <p>The team included:</p>
      <ul>
        <li>PI - Dawn Knight</li>
        <li>CIs - Paul Rayson, Mo El-Haj</li>
        <li>RAs - Nouran Khallaf, Ignatius Ezeani, and Steve Morris</li>
      </ul>
      <p>The Project Advisory Group included representatives from National Trust Wales, Cadw, National Museum Wales, CBAC | WJEC, and National Centre for Learning Welsh.</p>
    </div>	
  </div>
  
      


{% endblock %}