{% extends "basetwenty.html" %}
{% block data %}
<div class="input-container">
<p>

	A free online text analysis and visualisation tool for English and Welsh. FreeTxt allows you to upload free-text feedback data from surveys, questionnaires etc., and to carry out quick and detailed analysis of the responses. FreeTxt will reveal common patterns of meaning in the feedback (e.g. what people are talking about/what they are saying about things), common feelings about topics being discussed (i.e. their ‘sentiment’), and can produce simple summaries of the feedback provided. FreeTxt presents the results of analyses in visually engaging and easy to interpret ways, and has been designed to allow anyone in any sector in Wales and beyond to use it.
</p>
				
</div>

<div class="input-container" style='background-color: lightgrey; padding: 10px; border-radius: 5px; color: black; font-size: 14px;'>
	FreeTxt was developed as part of an AHRC funded collaborative FreeTxt supporting bilingual free-text 
	survey and questionnaire data analysis research project involving colleagues from Cardiff University and 
	Lancaster University (Grant Number AH/W004844/1).
	The team included 
	PI - Dawn Knight; CIs - Paul Rayson, Mo El-Haj; 
	RAs - Ignatius Ezeani, Nouran Khallaf and Steve Morris.
	The Project Advisory Group included representatives from:
	National Trust Wales, Cadw, National Museum Wales, CBAC | WJEC and National Centre for Learning Welsh.
   </div>

{% endblock %}