{% extends "basetwenty.html" %}
{% block data %}
<div class="contentcontainer">
    <div>
        <h3>Word Collocation</h3>
        <iframe class="a-image" src="static/images/img//analysis/network_output.html" width="550" height="350" title="Network Output"></iframe>
    </div>
    <div>
        <h3>Word Context</h3>
        <img class="a-image" src="static/images/img/analysis/Keyword.png" alt="Keyword in Context" width="500" title="Keyword in Context">
    </div>
    <div>
        <h3>Positive and Negative Ratio<h3>
        <iframe class="a-image" src="static/images/img/analysis/Sentiment_analysis_pie.html" width="500" height="400" title="Sentiment Analysis Pie"></iframe>
    </div>
    <div>
        <h3>Word Cloud</h3>
        <img class="a-image" src="static/images/img/analysis//word_cloud.png" alt="Wordcloud" width="500" title="Wordcloud">
    </div>
    <div>
        <h3>Text Visualisation</h3>
        <iframe class="a-image" src="static/images/img/analysis/scattertext_visualization.html" width="900" height="500" title="Scattertext Visualization"></iframe>
    </div>
</div>
				


{% endblock %}